<!DOCTYPE html>
<html lang="zh" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Fav and touch icons -->
    <link rel="icon" type="image/png" href="img/logo-64x64.png"/>
    <link rel="shortcut icon" href="img/logo-64x64.png">
    <title lang="zh">找德到 - 最全最新的德国大学研究所职位</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="lib/framework7/css/framework7.ios.min.css">
    <link rel="stylesheet" href="lib/framework7/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/position/general.css">
    <link rel="stylesheet" href="css/position/list.css">
    <link rel="stylesheet" href="css/position/main.css">
</head>
<body>

<div class="content-block" style="margin: 0; padding: 0">
    <a class="card-content external" href="http://phd.ojins.com/app" target="_blank">
        <div class="list-block media-list" style="margin: 0;">
            <ul>
                <li class="item-content">
                    <div class="item-media">
                        <img src="img/logo-64x64.png" width="50px" style="border-radius: 10px">
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title" style="color: black">找德到 - 最全最新的德国大学研究所职位</div>
                        </div>
                        <div class="item-subtitle">iOS/Android 免费下载</div>
                        <div class="item-content" style="padding: 0; font-size: 14px; color: gray;">德国留学深造? 却找不到职位? 用「找德到」来自德国百所高校的硕博,博后,教授,实习通通能找到!</div>
                    </div>
                </li>
            </ul>
        </div>
    </a>
</div>
<div class="views" id="all-positions" style="visibility: hidden">
    <div class="view view-main layout-white">
        <div class="pages navbar-through">
            <div v-if="focusPosition" class="page toolbar-fixed navbar-fixed">
                <div class="page-content" id="detail-content">
                    <div class="content-block">
                        <p class="detail-title">{{focusPosition.title}}</p>
                    </div>
                    <div class="content-block">
                        <p class="detail-date">
                            发表于{{renderVal(focusPosition.timestamp,'date')}} 在
                            {{renderVal(focusPosition.timestamp,'fulldate')}}</p>
                    </div>
                    <div v-if="focusPosition.mainContent.trim().length>0" class="content-block inset">
                        <div class="content-block-inner" style="font-size: 18px">
                            <p class="detail-main">{{{focusPosition.mainContent.trim()}}}</p>
                        </div>
                    </div>
                    <div v-else>
                        <div class="embrass-tip">
                            <center>
                                <i class="fa fa-meh-o" aria-hidden="true"></i>
                                呃...这条新闻神奇的消失了
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="lib/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="lib/js/moment.js"></script>
<script type="text/javascript" src="lib/js/jsonselect.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/inobounce.js"></script>
<script type="text/javascript" src="lib/js/in-view.min.js"></script>
<script type="text/javascript" src="lib/framework7/js/framework7.min.js"></script>

<script type="text/javascript" src="js/news.js"></script>
</body>
</html>